<a href="https://colab.research.google.com/github/sidde95/Python-Data-Structure/blob/main/Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Discuss string slicing and provider examples

String slicing is a technique used in Python to extract a part of a string using specific syntyax. The basic syntax for slicing is:

`string[start:stop:step]`

- start: The index where the slice starts(inclusive)
- stop: The index where the slice ends (exclusive)
- step: The interval between the characters in the slice

**Basic Slicing**

In [ ]:
a = "Hello, World!"
print(a[0:5])

Hello

**Omitting Start and Stop**

In [ ]:
a = "Hello, World!"
print(a[:5])
print(a[7:])

Hello
World!

**Negetive Index**

In [ ]:
a = "Hello, World!"
print(a[-6:-2])
print(a[-6:])

Worl
World!

**Using Step**

In [ ]:
a = "Hello, World!"
print(a[::2])

Hlo ol!

**Reversing a string**

In [ ]:
a = "Hello, World!"
print(a[::-1])

!dlroW ,olleH

**Slicing with step**

In [ ]:
a = "Hello, World!"
print(a[:5:2])

Hlo

##2. Explain the key features of lists in Pyhton.

1. **Ordered**: Lists mainatain the order of elements. The order in which you add elements to a list is the order in which they are stored or accessed.

2. **Mutable**: Lists are mutable meaning you can change their identity. You can modify elements, append new elements or remove elements.

3. **Heterogenous Elements**: Lists can contain elements of different types including numbers, strings and other lists.

4. **Dynamic Size**: Lists can grow or shrink in size as needed. We can add or remove elements as needed

5. **Indexed Access**: We can access elements by their index starting from 0 for the first element.

6. **Slicing**: Lists support slicing, allowing you to create a new list from a subset of elements.

7. **Built - In Methods**: Lists come with a variety of builtin methods for common operations such as adding, removing, and searhcing for elements.

8. **Iterations**: We can iterate over the elements of a list using a loop.

9. **Comprehensions**: List comprehensions provide a concise war to create lists

10. **Support nested lists**: Lists can contain other lists, allowing for the creation for a multi-dimensional data structure like matrices.

##3. Describe how to access, modify and delete elements in a list with examples.

Accessing, modifying and deleting elements in a list are fundamental operations in Python.

**1. Accessing Elements**

Accessing elements in a list is done using the index of the elements within square brackets `[]`

Example:

In [ ]:
my_list = [10, 20, 30, 40, 50]

print(my_list[0])
print(my_list[2])

10
30

**2. Modifying Elements**: To modify Elements in a list, assign a new value to the desired index

Example:

In [ ]:
my_list = [10, 20, 30, 40, 50]

my_list[1] = 200
print(my_list)

my_list[-1] = 500
print(my_list)

[10, 200, 30, 40, 50]
[10, 200, 30, 40, 500]

**3. Deleting elements**

There are a few ways to delete elements from a list:

- Using `del` keyword: Deletes an element or slice from a list.
- Using `pop` method: Removes and returns the elements at a specified index(default is the last element)
- Using `remove()` method: Removes the first occurance of a value from the list.

In [ ]:
# Using del keyword

my_list = [10, 20, 30, 40, 50]

del my_list[2]
print(my_list)

del my_list[1:3]
print(my_list)

[10, 20, 40, 50]
[10, 50]

In [ ]:
# Using pop method

my_list = [10, 20, 30, 40, 50]
removed_element = my_list.pop()
print(my_list)
print(removed_element)

removed_element = my_list.pop(2)
print(my_list)
print(removed_element)

[10, 20, 30, 40]
50
[10, 20, 40]
30

In [ ]:
# Using remove keyword

my_list = [10, 20, 30, 40, 50]
my_list.remove(30)
print(my_list)

[10, 20, 40, 50]

##4. Compare and contrast tuples and lists with examples

Tuples and lists are both fundamental data structures in Python, but they have some key differences in terms of mutability, usage and syntax.

**Tuples**
1. Once a tuple is created its elements cannot be changed, added or removed.
2. Tuples are represented using syntax `()` or without any brackets.
3. Tuples are generally faster than lists because of their immutability.
4. Tuples are used for fixed collections of items, such as coordinates or other data that shouldn't change.

**Lists**
1. Lists can be modified after creation. We can add, remove or change elements.
2. Lists are defined used `[]`.
3. Lists are slightly slower than tuples due to their mutability.
4. Lists are used for collections of items that may need to change, such as a collection of user inputs or a dynamic lists of elements.

In [2]:
# tuples examples

tuple = 21, 32, 12, 43, 32
type(tuple)

tuple

In [3]:
tuple[3]

43

In [4]:
tuple[0] = 2 # tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [5]:
# list example

list = [21, 32, 12, 43, 32]
type(list)

list

In [6]:
list[1:3]

[32, 12]

In [7]:
list[1:3] = [12, 54]
print(list)

[21, 12, 54, 43, 32]

In [8]:
list.append('apple')
list

[21, 12, 54, 43, 32, 'apple']

In [9]:
del list[1:4]
print(list)

[21, 32, 'apple']

## 5. Describe the key features of sets and provide examples of their use.

Sets in Python are collection that are unorderd, unindexed and contain no duplicate elements. They are useful for operations involving membership tests, removing duplicates from a sequence and mathematical operations like unioin, intersection, difference and symmetric difference.

**Key features of Sets**

1. **Unordered**: Elements in a set do not have a specific order.
2. **Unindexed**: There is no way to access elements by index since they are unordered.
3. **No duplicates**: Set automatically remove duplicate items
4. **Mutable**: Sets are mutable after creation. We can add or remove elements.
5. **Set Operations**: Supports mathematiccal set operations like union, intersection, difference and symmetric difference.

In [10]:
# Creating a set

a = {1, 2, 3, 'banana', 'apple'}
print(a)

empty_set = set()
print(empty_set)

{1, 2, 3, 'banana', 'apple'}
set()

In [14]:
# Removing and Adding elements in a set

a = {1, 2, 3, 'banana', 'apple'}
a.add('orange')
print(a)

a.remove('apple')
print(a)

{1, 2, 3, 'banana', 'orange', 'apple'}
{1, 2, 3, 'banana', 'orange'}

In [15]:
# Set Operations

a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

# Union
print(a.union(b))

# Intersection
print(a.intersection(b))

# Difference

print(a.difference(b))

# Symmetric Difference
print(a.symmetric_difference(b))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [17]:
# Membership Test

print(1 in a)
print(6 in a)

True
False

##6. Discuss the use case of tuples and sets in Python programming.

Tuple and sets are both built in data structures in Python that serve different purposes and have unique characteristics.

**Tuples**: A tuple is an ordered, immutable collection of elements. Tuples are defined by enclosing the elements in parenthesis `()`.

**Characteristics**:
  1. **Ordered**: The elements have a defined order, adn that order will not change.
  2. **Immutable**: Once a tuple is created, its element cannot be modified.
  3. **Heterogeneous**: Tuples can contain elements of different data types.

**Common Use Cases**:
  1. **Fixed Collections**: When we need to group a fixed number of items. For example, representing a coordinate `(x, y)`, RGB color `(r, g, b)` or personal infomration `(name, age, gender)`.
  2. **Return Multiple Values from Functions**: Functions in Python can return multiple values using tuples.
  3. **Dictionary keys**: Since tuples are immutasble, they can be used as keys in dictionaries.
  4. **Data Integrity**: When we want to ensure the data remains constant throughtout the program.


**Sets**: A set in an unorderd collection of unique elements. Sets are defined by enclosing the elements in curly braces `{}` or using the `set()` function

**Characteristics**:
  1. **Unordered**: The elements do not have a defined order.
  2. **Mutable**: Elements can be added or removed.
  3. **Unique Elements**: Duplicate elements are not allowed.

**Common Use Cases**:
  1. **Membership Testing**: Sets provide a highly optimized way to check for the presence of an element
  2. **Eliminate Duplicates**: Convert a list to set to remove duplicate elements
  3. **Set Operations**: Sets suppport mathematical operations like union, intersect, difference and symmetric difference.
  4. **Remove Duplicates while Maintaining Order**: While sets themselves dont mainatain order combining sets with other data structures can acheive this goal.

##7. Describe how to add, modify adn delete items in a dictionary with examples

Dictionaries in Python are mutable, unordered collections of key-value pairs. Each key is unique and its associated with a value.

**Adding Items to a Dictionary**: To add a new key value pair to a dictionary, we can simply assign a value to a new key using the assignment operator `=`

In [18]:
person = {}

person['name'] = 'John'
person['age'] = 30
person['city'] = 'New York'
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

**Modifying Items in a Dictionary**: To modify the value associated with an existing key in the dictionary, we assign a new value to that key

In [20]:
person['age'] = 25
person['city'] = 'Bengalore'
print(person)

{'name': 'John', 'age': 25, 'city': 'Bengalore'}

**Using the `pop` method**: This method removes and returns the last inserted key value pair as a tuple.

In [24]:
person = {'name': 'John', 'age': 25, 'city': 'Bengalore'}

age = person.pop("age")

print(person)

print(age)

{'name': 'John', 'city': 'Bengalore'}
25

**Using the `popitem` method**: This method removed and returns the last inserted key-value pair as a tuple

In [26]:
person = {'name': 'John', 'age': 25, 'city': 'Bengalore'}

last_item = person.popitem()

print(person)

print(last_item)

{'name': 'John', 'age': 25}
('city', 'Bengalore')

**Using `del` keyword**:

In [30]:
person = {'name': 'John', 'age': 25, 'city': 'Bengalore'}

del person['age']

print(person)

{'name': 'John', 'city': 'Bengalore'}

**Using the `clear` method**: This method removes all key-value pairs from the dictionary

In [32]:
person = {'name': 'John', 'age': 25, 'city': 'Bengalore'}

person.clear()

print(person)

{}